/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    padding: 0;
    margin: 0;
}

header {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header .spotifyLogo {
    width: 200px;
    height: 60px;
}

/*LANDING IMAG*/

.landingImage {
    background-image: url('../images/landing.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    color: white;
}

.landingImage .landingText {
    text-align: center;
    max-width: 600px;
}

.landingImage .landingText h1 {
    font-size: 4em;
}

.landingText p {
    font-size: 24px;
}

/*WHATS ON SPOTI*/

.infoApp h2 {
    text-decoration: underline;
    text-align: center;
}

.infoApp .infoSections {
    display: flex;
    justify-content: space-around;
}

.infoApp .infoSections div {
    padding: 50px;
    display: grid;
    place-items: center;
}

.infoApp .infoSections p {
    font-size: 16px;
    text-align: center;
}

.infoApp .infoSections h3 {
    font-size: 20px;
    text-align: center;
    color: rgb(17, 238, 17);
}

.infoApp .infoSections img {
    width: 100px;
    height: 80px;
}

.adventages {
    background-color: rgba(26,177,106,255);
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.adventagesText {
    max-width: 25%;
}

.adventagesText p{
    color: #FFF;
    font-size: 20px;
}

.adventages .logo {
    height: 70px;
    width: 70px;
}

.adventages .example {
    height: 800px;
    width: 400px;
}

.adventages h3 {
    color: white;
    text-decoration: underline;
    font-size: 28px;
    line-height: 20px;
}

h4 {
    font-size: 24px;
    color: white;
}